# 버전 관리 txt

# 웹 서버 및 REST API 구성을 위한 기본 프레임워크
Flask==3.0.2

# MySQL DB 연결/쿼리 실행용
PyMySQL==1.1.0

# 비밀번호 해싱
bcrypt==4.1.2

# 데이터 분석 및 전처리
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.3.2

# 데이터 시각화
matplotlib==3.8.2
seaborn==0.13.0

# 모델 저장/로드
joblib==1.5.2

# 환경 변수 관리
python-dotenv==1.0.0

# HTTP 요청
requests==2.31.0

# Streamlit (프론트엔드)
streamlit==1.29.0